extends layout


block content

    nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                //h1 Home Essentials
                a.navbar-brand(href='#')
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='/')
                        span.glyphicon.glyphicon-home
                        | #{''} Home
                li
                    a(href='#')
                        span.glyphicon.glyphicon-user
                        |  #{user.username}
                li
                    a(href='/logout')
                        span.glyphicon.glyphicon-log-in
                        |  Logout

    input#HideUserId(type='hidden', value=user.id)
    //input#HideUserId(type='hidden', value=1)
    if messageScanOut == 0
        .container
            //h1 Home Essentials #{user.id}
            p
            p
                //| To make the tabs toggleable, add the data-toggle="tab" attribute to each link. Then add a .tab-pane class with a unique ID for every tab and wrap them inside a div element with class .tab-content.
            ul#maintab.nav.nav-tabs(style={'font-size': '18px'})
                li
                    a(data-toggle='tab', href='#scanIn')
                        | SCAN IN
                li.active
                    a(data-toggle='tab', href='#scanOut') SCAN OUT
                li
                    a(data-toggle='tab', href='#inStock') ESSENTIALS
                li
                    a(data-toggle='tab', href='#calendar') CALENDAR
                li
                    a(data-toggle='tab', href='#inbox')
                        | INBOX
                        //span.badge 5
            .tab-content
                #scanIn.tab-pane.fade
                    include scanin

                #scanOut.tab-pane.fade.in.active
                    br
                    br
                    .row
                        .col-lg-3.col-md-4.col-sm-3
                            .panel.panel-default
                                .panel-heading
                                    h4 Essentials scanned out
                                #panelBodyScanOut.panel-body

                                    //h4 Product #{lastUserInventoryOut[0].description}
                                    each key in lastUserInventoryOut
                                        h4 !{key.description.substr(0,20)}
                        .col-lg-8.col-md-8.col-sm-8
                            .panel.panel-default
                                .panel-body
                                    .text-center
                                        .row.spacer
                                            br
                                            br
                                            br
                                            br
                                            br
                                            br
                                            h2#itemAddedMessageOut
                                                | Item Scanned Out #{'    '}
                                                span(style='font-size:32px;color:green').glyphicon.glyphicon-ok-circle
                                            h4#itemAddedDescOut Product: #{descriptionOut}
                                            br
                                            script.
                                                setTimeout(scanOutReload, 2000);

                                            br
                                            br
                                            br
                                            br
                                            form#scanoutForm(method='POST', action='/scanOutProduct')
                                                .form-group
                                                    input#codeProductOut.form-control(name='codeProductOut', type='hidden',required='')
                                                    input#wastedProductOut.form-control(name='wastedProductOut', type='hidden',required='')
                                                br
                                            h3#bCodeMessageOut

                                            #myModalWasted.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', data-keyboard='false', data-backdrop='static')
                                                .modal-dialog.modal-vertical-centered
                                                    .modal-content
                                                        .modal-header
                                                            //button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                                                            h4#myModalLabel.modal-title We need more information.
                                                        .modal-body
                                                            center
                                                                h5 Please select if this product was
                                                                br
                                                                br
                                                                .row
                                                                    button#btnUsedUp.btn.btn-primary(type='button', data-dismiss='modal') Used Up
                                                                    | !{' '}
                                                                    | or
                                                                    | !{' '}
                                                                    button#btnWasted.btn.btn-primary(type='button', data-dismiss='modal') Wasted
                                                        .modal-footer


                #inStock.tab-pane.fade
                    include essentials_instock

                #calendar.tab-pane.fade
                    include calendar

                #inbox.tab-pane.fade
                    include inbox

    if messageScanOut == 1
        .container
            //h1 Home Essentials
            p
            p
                //| To make the tabs toggleable, add the data-toggle="tab" attribute to each link. Then add a .tab-pane class with a unique ID for every tab and wrap them inside a div element with class .tab-content.
            ul#maintab.nav.nav-tabs(style={'font-size': '18px'})
                li
                    a(data-toggle='tab', href='#scanIn')
                        | SCAN IN
                li.active
                    a(data-toggle='tab', href='#scanOut') SCAN OUT
                li
                    a(data-toggle='tab', href='#inStock') ESSENTIALS
                li
                    a(data-toggle='tab', href='#calendar') CALENDAR
                li
                    a(data-toggle='tab', href='#inbox')
                        | INBOX
                        //span.badge 5
            .tab-content
                #scanIn.tab-pane.fade
                    include scanin

                #scanOut.tab-pane.fade.in.active
                    br
                    br
                    .row
                        .col-lg-3.col-md-4.col-sm-3
                            .panel.panel-default
                                .panel-heading
                                    h4 Essentials scanned out
                                #panelBodyScanOut.panel-body

                                    //h4 Product #{lastUserInventoryOut[0].description}
                                    //h4
                                    each key in lastUserInventoryOut
                                        h4 !{key.id}
                        .col-lg-8.col-md-8.col-sm-8
                            .panel.panel-default
                                .panel-body
                                    .text-center
                                        .row.spacer
                                            br
                                            br
                                            br
                                            br
                                            br
                                            br
                                            h2#itemAddedMessageOut
                                                | Sorry, something went wrong #{'    '}
                                                span(style='font-size:32px;color:red').glyphicon.glyphicon-remove-circle
                                            h4#itemAddedDescOut #{descriptionOut}
                                            br
                                            script.
                                                setTimeout(scanOutReload, 2000);

                                            br
                                            br
                                            br
                                            br
                                            form#scanoutForm(method='POST', action='/scanOutProduct')
                                                .form-group
                                                    input#codeProductOut.form-control(name='codeProductOut', type='hidden',required='')
                                                    input#wastedProductOut.form-control(name='wastedProductOut', type='hidden',required='')

                                                br
                                            h3#bCodeMessageOut

                                            #myModalWasted.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', data-keyboard='false', data-backdrop='static')
                                                .modal-dialog.modal-vertical-centered
                                                    .modal-content
                                                        .modal-header
                                                            //button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                                                            h4#myModalLabel.modal-title We need more information.
                                                        .modal-body
                                                            center
                                                                h5 Please select if this product was
                                                                br
                                                                br
                                                                .row
                                                                    button#btnUsedUp.btn.btn-primary(type='button', data-dismiss='modal') Used Up
                                                                    | !{' '}
                                                                    | or
                                                                    | !{' '}
                                                                    button#btnWasted.btn.btn-primary(type='button', data-dismiss='modal') Wasted
                                                        .modal-footer

                #inStock.tab-pane.fade
                    include essentials_instock

                #calendar.tab-pane.fade
                    include calendar

                #inbox.tab-pane.fade
                    include inbox

    if messageScanOut == 2
        .container
            //h1 Home Essentials
            p
            p
                //| To make the tabs toggleable, add the data-toggle="tab" attribute to each link. Then add a .tab-pane class with a unique ID for every tab and wrap them inside a div element with class .tab-content.
            ul#maintab.nav.nav-tabs(style={'font-size': '18px'})
                li
                    a(data-toggle='tab', href='#scanIn')
                        | SCAN IN
                li.active
                    a(data-toggle='tab', href='#scanOut') SCAN OUT
                li
                    a(data-toggle='tab', href='#inStock') ESSENTIALS
                li
                    a(data-toggle='tab', href='#calendar') CALENDAR
                li
                    a(data-toggle='tab', href='#inbox')
                        | INBOX
                        //span.badge 5
            .tab-content
                #scanIn.tab-pane.fade
                    include scanin

                #scanOut.tab-pane.fade.in.active
                    br
                    br
                    .row
                        .col-lg-11.col-md-11.col-sm-11
                            .text-center
                                .row.spacer
                                    br
                                    br
                                    br
                                    br
                                    br
                                    br
                                    h2#itemAddedMessageOut
                                        | Sorry, something went wrong #{'    '}
                                        span(style='font-size:32px;color:red').glyphicon.glyphicon-remove-circle
                                    h4 #{message}
                                    br
                                    script.
                                        setTimeout(scanOutWrong, 2000);

                                    br
                                    br
                                    br
                                    br

                                    h3#bCodeMessageOut


                #inStock.tab-pane.fade
                    include essentials_instock

                #calendar.tab-pane.fade
                    include calendar

                #inbox.tab-pane.fade
                    include inbox